/* Box -1 */
.rx-mobile-menu .rx-menu-inner .rx-menu-contact ul li a {
  border-radius: 0;
}
.rx-mobile-menu .rx-menu-inner .header-res-social ul li {
  border-radius: 0;
}

.section-hero .rx-hero-contact .inner-contact {
  border-radius: 0;
}
.section-hero .rx-hero-contact .inner-contact .booking-now .ico {
  border-radius: 0;
}

.rx-menu-tabs ul.nav-tabs li button {
  border-radius: 0;
}

.rx-about-contact .inner-contact .rx-about-inner-box .rx-about-box {
  border-radius: 0;
}

.rx-modal .modal-content {
  border-radius: 0;
}

.rx-tools-sidebar .rx-tools-sidebar-toggle {
  border-radius: 0;
}

.next-slick-img,
.prev-slick-img {
  border-radius: 0;
}
.next-slick-img img,
.prev-slick-img img {
  border-radius: 0;
}

.rx-amenities-img img {
  border-radius: 0;
}

.extra-services-img img {
  border-radius: 0;
}

.extra-services-contact .rx-services-ico .ico {
  border-radius: 0;
}

.rx-services {
  border-radius: 0;
}

.rx-testimonials-img img {
  border-radius: 0;
}

.rx-testimonials-contact .inner-contact {
  border-radius: 0;
}

.rx-inner-menu-desk .navbar-toggler {
  border-radius: 0;
}
.rx-inner-menu-desk .rx-main-menu ul .rx-dropdown .rx-dropdown-menu {
  border-radius: 0;
}

.rx-blog-card .rx-blog-img {
  border-radius: 0;
}
.rx-blog-card .rx-blog-img img {
  border-radius: 0;
}
.rx-blog-card:hover .rx-blog-img img {
  border-radius: 0;
}
.rx-blog-card .rx-blog-contact {
  border-radius: 0;
}

.rx-side-menu-image .radius-one img {
  border-radius: 0;
}
.rx-side-menu-image .radius-two img {
  border-radius: 0;
}
.rx-side-menu-image .radius-three img {
  border-radius: 0;
}
.rx-side-menu-image .radius-four img {
  border-radius: 0;
}

.rx-team-card .rx-team-img {
  border-radius: 0;
}
.rx-team-card .rx-team-img .rx-team-social-media .social-media-item {
  border-radius: 0;
}

.rx-book-from .rx-input-box .rx-from-control {
  border-radius: 0;
}

.rx-gallery-card .rx-gallery-img img {
  border-radius: 0;
}
.rx-gallery-card .rx-gallery-img:after {
  border-radius: 0;
}

.rx-gallery-card-two .rx-gallery-img img {
  border-radius: 0;
}
.rx-gallery-card-two .rx-gallery-img:after {
  border-radius: 0;
}

.rx-rooms-main-box .rooms-box-front {
  border-radius: 0;
}
.rx-rooms-main-box .rooms-box-front img {
  border-radius: 0;
}
.rx-rooms-main-box .rooms-box-front .content-wrap .inner-contact {
  border-radius: 0 !important;
}
.rx-rooms-main-box .rooms-box-back {
  border-radius: 0;
}
.rx-rooms-main-box .rooms-box-back img {
  border-radius: 0;
}
.rx-rooms-main-box .rooms-box-back .content-wrap .box-overlay {
  border-radius: 0;
}
.rx-rooms-main-box .rooms-box-back .content-wrap .inner-back-side {
  border-radius: 0;
}

.rx-rooms-box {
  border-radius: 0;
}
.rx-rooms-box .rx-rooms-img {
  border-radius: 0;
}
.rx-rooms-box .rx-rooms-back-side {
  border-radius: 0;
}
.rx-rooms-box .rx-rooms-back-side img {
  border-radius: 0;
}
.rx-rooms-box .rx-rooms-back-side .inner-back-side {
  border-radius: 0;
}

.rx-btn-one {
  border-radius: 0;
}

.rx-btn-two {
  border-radius: 0;
}

.rx-social-media .rx-social-logo .inner-logo img {
  border-radius: 0;
}

.rx-footer-inner-contact .rx-footer-last-logo .rx-inner-footer-logo {
  border-radius: 0;
}

.rx-rooms-box-2 {
  border-radius: 0;
}
.rx-rooms-box-2 img {
  border-radius: 0;
}

input,
textarea,
.rx-from-control {
  border-radius: 0;
}

.rx-room-details-sidebar {
  border-radius: 0;
}
.rx-room-details-sidebar .inner-room-details .rx-side-from .form-check input {
  border-radius: 0;
}

.rx-room-details-main-contact .rx-main-room {
  border-radius: 0;
}
.rx-room-details-main-contact .rx-main-room .rx-room-details-image img {
  border-radius: 0;
}
.rx-room-details-main-contact .rx-main-room .rx-room-details-inner img {
  border-radius: 0;
}
.rx-room-details-main-contact .rx-inner-details {
  border-radius: 0;
}

.rx-contact-form {
  border-radius: 0;
}
.rx-contact-form .rx-contact-touch-ifrem iframe {
  border-radius: 0;
}

.rx-faq .accordion .accordion-item {
  border-radius: 0;
}
.rx-faq .accordion .accordion-item .accordion-button {
  border-radius: 0;
}

.rx-spa-card {
  border-radius: 0;
}
.rx-spa-card .spa-img {
  border-radius: 0;
}
.rx-spa-card .spa-img img {
  border-radius: 0;
}

.rx-spa-services {
  border-radius: 0;
}
.rx-spa-services .border-tl-radius img {
  border-radius: 0;
}
.rx-spa-services .border-br-radius img {
  border-radius: 0;
}

.rx-checkout .rx-checkout-wrap {
  border-radius: 0;
}

.rx-blog-details-sidebar {
  border-radius: 0;
}
.rx-blog-details-sidebar .rx-recent-post .recent-inner-post .recent-post-cart .post-img img {
  border-radius: 0;
}
.rx-blog-details-sidebar .rx-popular-tags .popular-inner-tags ul li a {
  border-radius: 0;
}

.rx-blog-details .rx-blog-details-cart .blog-details-contact .pagination ul {
  border-radius: 0;
}
.rx-blog-details .rx-blog-details-cart .blog-details-contact img {
  border-radius: 0;
}
.rx-blog-details .rx-blog-details-cart .blog-details-img img {
  border-radius: 0;
}
/*# sourceMappingURL=box-1.css.map */