/* variables */
$title-font-family: "Playfair Display", serif;
$text-font-family: "Poppins", sans-serif;
$text-font-family: "BebasNeue", sans-serif;
$remixico: 'remixicon';

$title-color: #000;
$text-color: #555555;

$primary: #9d7e54;
$secondary: #131618;
$bg-fff: #fff;
$bg-000: #000;
$text-000: #000;
$text-f8f8f8: #f8f8f8;
$text-fff: #fff;
$text-ddd: #ddd;
$text-bbb: #bbb;
$text-777: #777;
$black-04: rgba(0, 0, 0, 0.4);
$black-06: rgba(0, 0, 0, 0.6);
$black-08: rgba(0, 0, 0, 0.8);
$black-09: rgba(0, 0, 0, 0.9);
$close-color: #ff0000;
$bg-two-secondary : #f5f5f5;
$services-ico: #957243;
$dark-off: rgba(0, 0, 0, 0.03);
$secondary-2 : #1c2023;
$bg-f5f5f5: #f5f5f5;
$bg-9e9e9e: #9e9e9e;

$border-bbb: #bbb;
$border-eee: #eee;
$border-fff: #fff;
$border-000: #000;
$border-dark-color: #393e48;

$color-1: #8118d5;
$color-2: #5f6af5;
$color-3: #f5885f;
$color-4: #32dbe2;
$color-5: #3f51b5;
$color-6: #f44336;
$color-7: #e91e63;
$color-8: #607d8b;
$color-9: #03492f;

$radius-0: 0;
$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;
$radius-30: 30px;